.manage-container {
    width: 100%;
    min-height: 100vh;
    background: var(--primary-background);
}

.manage-content {
    padding: 2rem;
    margin: 0 auto;
}

.manage-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.manage-description {
    text-align: center;
    margin-bottom: 2rem;
}

.manage-description p {
    color: #666;
    font-size: 1.1rem;
    margin: 0;
}