.topbar-main-container{
    width: 100%;
    padding: 5px 84px;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.topbar-container p{
    font-size: 12px;
}

.locale-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}