.navbar-main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 84px;
}

.navbar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.search-input input{
    width: 400px;
    height: 35px;
    background-color: var(--primary-background);
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 16px;
}

.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.category-item {
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.category-item:hover {
    background-color: var(--primary-background);
}

.category-active {
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--primary-background);
    color: var(--secondary-color);
}

.cart-container{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background);
    border-radius: 50%;
}

.help-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background);
    border-radius: 50%;
}

.optionbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profile-container {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.profile-container:hover {
    opacity: 0.8;
}

.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.optionbar-h3{
    font-size: 12px;
    color: #333;
    font-weight: 500;
}