*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f4f4f4;
}

:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #FFCE07;
    --primary-background: #dedede;
}